# Export regular functions
export("BiogTest.individual", "BiogTest.sample", "chao1", "EcoTest.individual", "EcoTest.sample", "plot.BiogTest", "plot.EcoTest", "rarefaction.individual", "rarefaction.sample") 

# Import all packages listed as Imports or Depends
import(vegan)
importFrom("stats", "aggregate", "quantile", "rlnorm", "rnbinom",
     "runif", "xtabs")
     importFrom("utils", "combn")

## Registration of S3 methods
import(graphics)
S3method(plot, BiogTest)
S3method(plot, EcoTest)
